In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import datetime as dt
from datetime import datetime
import glob

In [ ]:
path = "C:\\Users\\samsh\\OneDrive\\Documents\\Productivity\\Coding\\Python\\Pandas Practice 2\\Pandas-Data-Science-Tasks\\SalesAnalysis\\Sales_Data"

files = [file for file in os.listdir(path) ]#if not file.startswith('.')]

all_data = pd.DataFrame()

for file in files:
    df = pd.read_csv(path+'/'+file)
    all_data = pd.concat([all_data, df])
    
files
    
all_data.to_csv("all_data.csv", index=False)

In [2]:
all_data = pd.read_csv('all_data.csv')
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [3]:
all_data = all_data.dropna()
all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']

In [4]:
all_data[all_data['Order Date'].str[0:2] == '01'].head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
31957,297150,Lightning Charging Cable,1,14.95,01/01/20 00:38,"427 Wilson St, Dallas, TX 75001"
32659,297817,iPhone,1,700,01/01/20 00:22,"519 13th St, New York City, NY 10001"
32660,297817,Lightning Charging Cable,2,14.95,01/01/20 00:22,"519 13th St, New York City, NY 10001"
32819,297969,Google Phone,1,600,01/01/20 00:54,"542 2nd St, San Francisco, CA 94016"
33200,298344,Wired Headphones,4,11.99,01/01/20 03:34,"731 7th St, New York City, NY 10001"

In [9]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   Month             185950 non-null  int32
dtypes: float64(1), int32(1), int64(1), object(4)
memory usage: 10.6+ MB

In [6]:
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'])
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])

In [ ]:
all_data.sort_values('Order ID')

In [ ]:
# all_data.iloc[517]

In [8]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4

In [10]:
all_data['Month 2'] = pd.to_datetime(all_data['Order Date']).dt.month
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Month 2
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,4
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,4
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,4
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,4
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,4

In [ ]:
all_data.info()

In [ ]:
def getCity(address):
    return address.split(',')[1].strip(" ")

def getState(address):
    return address.split(',')[2].strip(" ")[1]

all_data['City'] = all_data['Purchase Address'].apply(lambda x: f"{getCity(x)} ({getState(x)})")
all_data.head()

#### What was the best moht for sales? How much was earned that month?

In [ ]:
all_data['Sales'] = all_data['Price Each'].astype('float')*all_data['Quantity Ordered'].astype('int')

In [ ]:
all_data.groupby(['Month']).sum()

In [ ]:
months = range(1,13)
print(months)

plt.bar(months,all_data.groupby(['Month']).sum()['Sales'])
plt.xticks(months)
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month Number')
plt.show()

#### What city sold the most product?

In [ ]:
all_data.groupby(['City']).sum()

## Augment data with new columns for ease of analysis

### Task 2: Add month column

In [ ]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data

In [ ]:
all_data['Month'] = all_data['Month'].astype('int32')
# didn't work at first because headers were duplicated in the rows. Cell below shows this.

In [ ]:
temp_df = all_data[all_data['Order Date'].str[0:2] == 'Or']
temp_df

### Filter out these duplicate rows

In [ ]:
# all_data.iloc[10000]

In [ ]:
all_data = all_data[all_data['Order Date'].str[0:2] != 'Or'] 
# all_data.loc[all_data['Order Date'] == 'Order Date']
all_data

In [ ]:
all_data.sort_values('Month', ascending=True)
all_data

In [ ]:
all_data['Order Date'] = all_data['Order Date'].astype('datetime64')
all_data

### Reformat date:

In [ ]:
input_date = '2019-09-17 14:44:00'
format_date = '%Y-%m-%d %H:%M:%S'
new_date = datetime.strptime(input_date, format_date)
new_date.day

In [ ]:
new_date.strftime('%m/%d/%Y %H:%M:%S')

### Question 1: What was the best month for sales? How much was earned that month?

In [ ]:
all_data

In [ ]:
all_months['Sales'] =